In [1]:
import sqlite3

In [104]:
connect = sqlite3.connect("my_database1.db")
connect

In [3]:
cursor = connect.cursor()
cursor

In [4]:
columns_flights = ("id_flight","Where_from","where_flights", "Number_of_passenger")
data_flights =[
    [1111, "Amsterdam", "Vienna", 45],
    [1112, "Lviv", "Kharkiv", 73],
    [1113, "Rome", "Kyiv", 56],
    [1114, "Budapest", "Kharkiv", 35],
    [1115, "Lviv", "Kyiv", 119]
]
data_flights

[[1111, 'Amsterdam', 'Vienna', 45],
 [1112, 'Lviv', 'Kharkiv', 73],
 [1113, 'Rome', 'Kyiv', 56],
 [1114, 'Budapest', 'Kharkiv', 35],
 [1115, 'Lviv', 'Kyiv', 119]]

In [5]:
query = "CREATE TABLE flights {};".format(columns_flights)
cursor.execute(query)

OperationalError: table flights already exists

In [6]:
query = "INSERT INTO flights VALUES (?, ?, ?, ?);"
cursor.executemany(query, data_flights)

In [7]:
columns_people = ("id_flight","Passenger_Name", "sex", "age")
data_people =[
    [1111, "Kate", 1, 13],
    [1111, "Maria", 1, 35],
    [1112, "Anna", 1, 50],
    [1112, "Tim", 0, 27],
    [1113, "James", 0, 35],
    [1113, "Serhiy", 0, 49],
    [1114, "Markus", 0, 65],
    [1115, "Eugen", 0, 29],
    [1115, "Kendall", 1, 24],
    [1114, "Barbara", 1, 18]
]
data_people

[[1111, 'Kate', 1, 13],
 [1111, 'Maria', 1, 35],
 [1112, 'Anna', 1, 50],
 [1112, 'Tim', 0, 27],
 [1113, 'James', 0, 35],
 [1113, 'Serhiy', 0, 49],
 [1114, 'Markus', 0, 65],
 [1115, 'Eugen', 0, 29],
 [1115, 'Kendall', 1, 24],
 [1114, 'Barbara', 1, 18]]

In [8]:
query = "CREATE TABLE people {};".format(columns_people)
cursor.execute(query)

In [9]:
query = "INSERT INTO people VALUES (?, ?, ?, ?);"
cursor.executemany(query, data_people)

### Unique name of passengers

In [10]:
query = "SELECT DISTINCT Passenger_Name FROM people;"
cursor.execute(query)
result = cursor.fetchall()
result

[('Kate',),
 ('Maria',),
 ('Anna',),
 ('Tim',),
 ('James',),
 ('Serhiy',),
 ('Markus',),
 ('Eugen',),
 ('Kendall',),
 ('Barbara',)]

### Flights to Kyiv where number of passengers are higher than 100

In [156]:
query = "SELECT * FROM flights WHERE (where_flights = 'Kyiv' AND CAST(Number_of_passenger AS INT64) > 100);"
cursor.execute(query)
result = cursor.fetchall()
result

[(1115, 'Lviv', 'Kyiv', 119)]

### Add 2 new passengers

In [12]:
data_new_people = [
    [1111, "Lilia", 1, 57],
    [1115, "Nadia", 1, 30]
]
data_new_people

[[1111, 'Lilia', 1, 57], [1115, 'Nadia', 1, 30]]

In [152]:
query = "INSERT INTO people VALUES (?, ?, ?, ?);"
cursor.executemany(query, data_new_people)

### Show the name of the oldest woman that flew from Lviv

In [153]:
query = "SELECT people.Passenger_Name, MAX(CAST(age AS INT64)) FROM flights LEFT JOIN people ON flights.id_flight=people.id_flight WHERE (where_from = 'Lviv' AND sex=1);"
cursor.execute(query)
result = cursor.fetchall()
result

for i in result:
    i= i[0]
    print(i)

Anna

### City where the largest number of passengers arrives

In [154]:
query = "SELECT where_flights, SUM (Number_of_passenger) FROM flights GROUP BY where_flights ORDER BY SUM (Number_of_passenger) DESC;"
cursor.execute(query)
result = cursor.fetchall()
a = result [0]
print(a[0])

Kyiv

### The average age of passengers flew to Kharkiv

In [164]:
query = "SELECT AVG(CAST(age AS INT64)) FROM flights LEFT JOIN people ON flights.id_flight=people.id_flight WHERE (where_flights = 'Kharkiv');"
cursor.execute(query)
result = cursor.fetchall()
result

[(40.0,)]